body {
	background: url("http://colourlovers.com.s3.amazonaws.com/images/patterns/493/493932.png?1243440798") fixed;
}

section {
	width: 800px;
	height: 500px;
	margin: 50px;
	margin-left: auto;
	margin-right: auto;
}

footer {
	position: fixed;
	bottom: 0px;
	left: 1px;
}

div.navbar-inner > div.container {
	width: 800px;
}

p.lead {
	text-shadow: 1px 1px 1px #000;
}

div.item {
	height: 400px;
	width: 500px;
}

a#page-title {
	padding-right: 0;
	padding-left: 0;
	margin-left: 20px;
	float: right;
	font-weight: bold;
	color: black;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .125);
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
}

li#header-player {
	margin-left: 30px;
}

li#header-player > a {
	margin: 2px;
	height: 15px;
	background: url() no-repeat 0 0;
	padding-left: 60px;
}

div#item-compare {
	width: 625px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	height: 250px;
}

div#item1 {
	margin-right: 20px;
}

div.select-items {
	cursor: pointer;
	float: left;
}

div.select-items > img {
	width: 300px;
 	height: auto;
	max-height: 225px;
}

#work > div {
	width: 100%;
}

#work > div > #question > p{
	font-size: 20px;
	display: inline;
	color: rgb(80,80,80);
	font-family: 'IM Fell English', serif;
}
#work > div > #question > p:before {
	content: "\"";
	color: rgb(180,180,180);
	font-size: 30px;
	font-family: 'IM Fell English', serif;
}
#work > div > #question > p:after {
	content: "\"";
	color: rgb(180,180,180);
	font-size: 30px;
	font-family: 'IM Fell English', serif;
}

#work > div > #question {
	margin-bottom: 10px;
	float: left;
	margin-right: 30px;
}

.object-centered {
	max-width: 600px;
	max-height: 300px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

input.response {
	margin-bottom: 20px;
	border: 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 60px;
	font-size: 20px;
	background-color: #505050;
	color: rgb(255,255,255);
	text-align: center;
}

div#userlist > ul {
	margin-top: 15px;
	list-style-type: none;
}

div#userlist > ul > li {
	float: left;
	width: 200px;
	margin: 5px;
	background-color: rgb(255,255,255);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 5px;
	overflow: hidden;
	cursor: pointer;
}

li.correct {
	background-color: #0f0 !important;
	cursor: normal !important;
}

li.wrong {
	background-color: #f00 !important;
	cursor: normal !important;
}

div#userlist > ul > li > img {
}

div#userlist > ul > li > div {
	text-overflow: ellipsis;
	width: 140px;
	white-space: nowrap;
	overflow:hidden; 
	float: right;
	margin-top: 17px;
}

/* hangman */
div#userlist {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	height: 720px;
}

