div.briefing-container {

    position: absolute;

    width: 60%;

    overlay: auto;
    float: left;
    z-index: 15;

    background-color: rgba(236, 240, 241, .8);
    color: #333;

    font-size: 18px;
    line-height: 1.5;

    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;

    .close {
        display: block;
        margin-top: -10px;
        margin-right: -10px;
        font-size: 50px;
        color: rgba(236, 240, 241, .8);

        opacity: .7;

        &:hover {
            opacity: 1;
        }
    }

    & > div {
        margin: 15px;
    }

}