.collect {
	margin-top: 200px !important;

	.trigger-collect {

		&.disabled {
			background-image: url('loader.gif');
			background-repeat: no-repeat;
			background-position: 3px center ;
			padding-left: 35px;
			opacity: 1;
		}

	}
}