.guess {
	max-width: 80% !important;

	.question {
		line-height: 35px !important;

		&:before {
			content: "\00bb";
		}

		&:after {
			content: "\00ab";
		}
	}

	input[type=number] {
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 60px;
		border: 0;
		border-bottom: rgba(51,51,51,1);
		background-color: rgba(255,255,255,.9);
		width: 350px;
		height: 70px;
		text-align: center;
	}
}