.results {

    font-size: 20px;
    color: #fff;

    h1 {
        margin-bottom: 10px !important;
        font-size: 60px;

        e {
            font-size: 60px !important;
        }
    }

    h2 {
        font-size: 20px;
        color: #ecf0f1;
    }

    div.body {
        display: none;
    }

    ul.results {
        .plain-list;

        margin: 0;
        margin-top: 30px;
        width: 500px;

        .warning {
            font-size: 16px;

            e {
                font-size: 30px;
                color: #faa732;
            }
        }

        li {
            line-height: 26px;

            &.divider {
                border-top: 1px solid;
            }

            &.totals {
                font-size: 24px;
            }

            span {
                display: inline-block;
            }

            button.control {
                margin-top: -5px;

                e {
                    font-size: 30px;
                }
            }

            span.title {
                width: 300px;
            }

            span.points {
                width: 150px;
                text-align: right;

                span.multi {

                    &:after {
                        content: "x";
                    }
                }

            }

        }

        .head {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        li.item {
            min-height: 10px;

            & > .body {
                height: 250px;
                padding: 0px;
            }

            .body {
                .rounded-corners;

                font-size: 16px;

                background-color: rgba(220, 220, 220, 0.1);

                overflow: hidden;

                padding: 5px 10px;

                .object {
                    display: inline-block;
                    margin-right: 40px;
                    height: 100%;
                    overflow: hidden;
                }


                &.noheight {
                    height: auto;
                }

                ul.public-items {
                    .plain-list;
                    margin-left: 0;

                    li > {
                        height: 250px;
                        margin-bottom: 10px;
                    }
                }

                ul.wrongs {
                    .plain-list;

                    position: absolute;
                    top: 17px;
                    right: 10px;

                    width: 150px;

                    li {
                        width: 60px;
                        height: 60px;

                        -moz-border-radius: 60px;
                        -webkit-border-radius: 60px;
                        border-radius: 60px;

                        margin: 0 10px 10px 0;

                        display: inline-block;

                        -moz-box-shadow: 0 0 5px 5px #e74c3c;
                        -webkit-box-shadow: 0 0 5px 5px #e74c3c;
                        box-shadow: 0 0 5px 5px #e74c3c;
                    }
                }

                p.info {
                    position: absolute;
                    bottom: 0px;

                    float: left;

                    margin-right: 100px;
                    padding: 10px;

                    z-index: 101;

                    width: 280px;
                    background-color: rgba(127, 140, 141, .7);

                    span.title {
                        width: 150px;

                        display: inline-block;

                        &:after {
                            content: ":";
                        }

                    }
                }

                div.item {
                    cursor: pointer;
                    z-index: 100;
                    min-height: 100px;
                    width: 300px;
                    height: 100%;

                    &.image {
                        background-size: cover;
                    }
                }
            }

        }

    }
}