.select {
	margin-top: 100px !important;
	max-width: 100% !important;

	.image {
		cursor: pointer;
		margin-top: 40px;
		float: left;
	}

	.image1 {
		float: left;
		margin-right: -15px;
		margin-top: 50px;
	}

	.image2 {
	}

}