.select {
    margin-top: 100px !important;
    max-width: 100% !important;

    .item {
        cursor: pointer;
        margin-top: 40px;
        float: left;
        z-index: 100;

        &:hover {
            z-index: 200;
        }
    }

    .item1 {
        float: left;
        margin-right: 15px;
        margin-top: 50px;
    }

    .item2 {
    }

}