.plain-list {
	list-style-type: none;
}

.rounded-corners (@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

.count {
	position: absolute;
	float: right;
	top: 0;
	right: 0;
	z-index: 10;
	margin-top: 80px;
	margin-right: 20px;
	text-shadow: 1px 1px 0px rgb(30, 30, 30);

	.current {
		font-size: 80px;
	}

	.total {
		font-size: 50px;

		&:before {
			content: " /";
		}
	}
}

.grayitizer {
	z-index: 1000;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(51,51,51,.3);

	.alert {
		font-size: 40px;
		background: url("assets/overlayinfobackground.png") right center rgb(252, 248, 227) no-repeat;
		padding: 20px;
		cursor: pointer;
	}
}

.center-outer {
	float: right;
    right: 50%;
    position: relative;
}

.center-inner {
 	float: right;
    right: -50%;
    position: relative;
}

.polaroid {
	position: relative;

	img {
		border: 10px solid #fff;
		border-bottom: 45px solid #fff;
  		-webkit-box-shadow: 3px 3px 3px #777, inset 0 0 50px #000, inset 0 0 50px #000, inset 0 0 50px #000;
     	-moz-box-shadow: 3px 3px 3px #777, inset 0 0 50px #000, inset 0 0 50px #000, inset 0 0 50px #000;
        box-shadow: 3px 3px 3px #777, inset 0 0 50px #000, inset 0 0 50px #000, inset 0 0 50px #000;
        max-height: 400px;
        max-width: 400px;
        overflow: hidden;
	}

	p {
  		position: absolute;
  		text-align: left;
  		margin-left: 10px;
  		width: 100%;
  		bottom: 10px;
  		font: 400 18px/1 'Kaushan Script', cursive;
  		color: #888;
	}
}