.tips {

    .recommendation-long {

        ul.pairs {
            .plain-list;

            margin: 0;

            li {
                color: #bdc3c7;
                a {
                    color: #bdc3c7 !important;
                }

                &.highlight {
                    color: #5a5a5a;
                    a {
                        color: #0088cc !important;
                    }
                }

                &:hover {
                    color: #5a5a5a;
                }
            }
        }

    }

    .tooltip-long {

    }

}

span[data-tooltip-key] {
    border-bottom: 2px dotted;
    cursor: help;
}

.tooltip-container {
    font-size: 14px;
    line-height: 20px;

    & > a {
        display: block;
    }
}