.tips {

    .recommendation {

        ul.pairs {
            .plain-list;

            margin: 0;

            li {
                color: #bdc3c7;
                a {
                    color: #bdc3c7 !important;
                }

                &.highlight {
                    color: #5a5a5a;
                    a {
                        color: #0088cc !important;
                    }
                }

                &:hover {
                    color: #5a5a5a;
                }
            }
        }

    }

    .tooltip {

    }

}