<div class="half-width">
    <h1>{{t "app.collect.headline"}}</h1>

    <p class="lead">
        {{t "app.collect.description"}}
    </p>

    <button type="submit" class="trigger-collect btn btn-large btn-primary" data-toggle="button">
        {{t "app.collect.next_button"}}
    </button>
</div>