<div class="body">
    <h1>{{t "app.estimate.headline"}}</h1>

    <div class="row">
        <div class="item span6"></div>

        <div class="span3">
            <p class="lead">{{t "app.estimate.what_do_you_guess"}}</p>
            <input class="response" autofocus required />
            <button type="submit" class="btn">{{t "app.estimate.input_button"}}</button>
        </div>
    </div>
</div>