<h1>{{t "app.estimate.headline"}}</h1>

<div class="row">
	<div class="span4">
		<div class="polaroid image leftern">
			<p class="title"></p>
			<img src="#" />
		</div>
	</div>
	<div class="offset1 span4">
		<p class="lead">{{t "app.estimate.what_do_you_guess"}}</p>
		<input type="number" class="response" autofocus required />
		<button type="submit" class="btn">{{t "app.estimate.input_button"}}</button>
	</div>
</div>