<!-- GuessResult -->
<div class="result guess">

    <h1>{{t "app.guess.result.headline"}}</h1>

    <ul class="result-links">
        <li>
            <a id="switch-lists" class="btn btn-small">
                <i>&#8505;</i> <span>{{t "app.guess.game.lists.name"}}</span>
            </a>
        </li>
        <li>
            <a id="switch-items" class="btn btn-small">
                <i>&#8505;</i> <span>{{t "app.guess.game.items.name"}}</span>
            </a>
        </li>
    </ul>

    <div id="result-body" class="container">

        {{! subtemplate goes here }}

    </div>

</div>