<!-- GuessGame -->
<div class="game guess">

    <h1>{{t "app.guess.name"}}</h1>

    <div class="container">

        {{! subtemplate goes here }}

        <div class="progress progress-striped active">
            <div class="bar" style="width: 100%;">{{t "app.loading.please_wait"}}</div>
        </div>

    </div>

</div>