<h1>{{t "app.hangman.headline"}}</h1>

<div class="row">

	<div class="span4">
		<div class="polaroid image leftern">
			<p class="title"></p>
			<img src="#" />
		</div>
	</div>

	<div class="offset1 span5 info">
		<!--<span>{{t "app.hangman.remaining_lives"}}</span>-->
		<ul class="lives">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
		<ul class="userlist">
		</ul>
	</div>

</div>