<h1>{{t "app.hangman.headline"}}</h1>

<div class="row">

	<div class="span6 item">
	</div>

	<div class="span3 info">
		<!--<span>{{t "app.hangman.remaining_lives"}}</span>-->
		<ul class="lives">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
		<div class="points"></div>
		<ul class="userlist">
		</ul>
	</div>

</div>