<div class="half-width">
    <h1>{{t "app.home.headline"}}</h1>

    <p class="lead">{{t "app.home.description"}}</p>

    <button id="startgame" class="btn btn-large btn-primary">
        {{t "app.home.play_button"}}
        <e class="big">&#128319;</e>
    </button>
</div>