<h1>{{t "app.home.headline"}}</h1>

<p class="lead">{{t "app.home.description"}}</p>

<a id="startgame" class="btn btn-large btn-primary" href="#">
    {{t "app.home.play_button"}}
    <i class="big">&#128319;</i>
</a>