<h1>Zeit f&uuml;r Ergebnisse</h1>

	<div class="third guess-result">
		<h1>Raten</h1>
		<p class="lead summerize">
			summerize
		</p>
		<p class="advice">
			advice
		</p>
	</div>

	<div class="third estimate-result">
		<h1>Sch&auml;tzen</h1>
		<p class="lead summerize">
			summerize
		</p>
		<p class="advice">
			advice
		</p>
	</div>

	<div class="third last hangman-result">
		<h1>Bestimmen</h1>
		<p class="lead summerize">
			summerize
		</p>
		<p class="advice">
			advice
		</p>
	</div>