<h1>{{t "app.select.headline"}}</h1>

<div class="center-outer">
	<div class="center-inner">
		<div class="polaroid image1 image leftern">
			<p class="title"></p>
			<img src="#" />
		</div>

		<div class="polaroid image2 image rightern">
			<p class="title"></p>
			<img src="#" />
		</div>
	</div>
</div>