<!-- GuessGame -->
<div class="recommendation">

    <h1>Tooltip Container</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi doloribus ex facere nobis optio perferendis quo,
        ratione recusandae! Dolorum eos facere in ipsa magni non pariatur recusandae reprehenderit voluptatem
        voluptatum!<br/>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias distinctio dolor dolorum eligendi eos est
        exercitationem facere fugiat id illum labore laudantium magni minus necessitatibus non sit suscipit, tenetur
        veniam.<br/>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias distinctio dolor dolorum eligendi eos est
        exercitationem facere fugiat id illum labore laudantium magni minus necessitatibus non sit suscipit, tenetur
        veniam.<br/>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias distinctio dolor dolorum eligendi eos est
        exercitationem facere fugiat id illum labore laudantium magni minus necessitatibus non sit suscipit, tenetur
        veniam.
    </p>

</div>

<hr class="container"/>